.header{
  display: flex;
  flex-direction: row;
}

.body{
  margin-left: 6%;
  margin-top: 10px;
}

img{
  margin-right: 10px;
  width: 89px;
  height: 89px;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info p{
  margin: 3px;
}
#nota{
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

color: #ED6E27;
}

#title{
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;

color: #828282;
}

#desc{
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

color: #828282;
}

#km{
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

color: #828282;
}

#end{
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;

color: #828282;
}

#min{
 font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

color: #828282;


}

